body,
head {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    

}

#head {}

.the_game {
    width: 85%;
    display:flex;
    gap: 1px;
    flex-direction: column;
    margin: auto; /* מיישור למרכז באמצעות Flexbox */


}

.head_of_the_game{
    border: 1px solid;
    display: flex;
    gap: 1px;

}
.trial{
    flex: 1;
    border: 1px solid;

}
.level {
    flex: 3;
    border: 1px solid;

}
#timer {
    flex: 1;
    border: 1px solid;

}
.the_body_of_the_game {
    border: 1px solid;
    /* background-color: rgb(0, 0, 0); */
}
.hidden{
    border: 1px solid;
    border-radius: 10%;
    background-image:url('https://www.yo-yoo.co.il/data/math/uploads/WNNJxwAbtYQA3LS.jpg') ;
    background-size: 110% auto; /* 50% מהרוחב, וגובה אוטומטי */
    text-indent: -9999px;
    

}
table{
    border-collapse: separate; /* מוריד רכיבי טבלה קיימים כמו border-spacing כדי לא לשתף אותם */
    border-spacing: 5px 5px; /* רווח ברוחב 20px ובגובה 10px */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 8); /* צל עם 5 פיקסלים לימין, 5 פיקסלים למטה, 10 פיקסלים רמת חושיל וצבע שחור עם שקיפות 10% */
}
td {
    
}
.overt{
    border: 1px solid;
    border-radius: 10%;
    background-size: 110% auto; /* % מהרוחב, וגובה אוטומטי */
    padding: 0;
    margin: 0;
    font-size: 150%;
    border-collapse: separate; /* מוריד רכיבי טבלה קיימים כמו border-spacing כדי לא לשתף אותם */
    border-spacing: 10px 10px; /* רווח ברוחב 20px ובגובה 10px */
    
    
}

